.artery-list {
  width: 110px;
  height: 100%;
  float: left;
  // overflow-x: hidden;
  // overflow-y: auto;
  overflow: hidden;
  background-color: #1c2541;
  border-top: 1px solid #2e4d90;
  border-right: 1px solid #2e4d90;
  float: left;
  display: flex;
  flex-direction: column;
  .artery-item {
    width: 100%;
    height: 56px;
    line-height: 55px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #2e4d90;
    background-color: #1c2541;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    &.normal {
      &.active,
      &:hover {
        background-color: #2e4d90;
      }
    }
    &.tree-name {
      color: #f4721b;
      font-weight: bold;
    }

    &.edit {
      justify-content: center;
      cursor: pointer;
      span {
        padding-right: 5px;
      }
    }
    &.commit {
      &:hover {
        background-color: #1c2541;
      }
      .el-icon {
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 20px;
        margin: 0 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: #2a5298;
          border-color: #2a5298;
        }
      }
    }
  }
  .vessel-list {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
  }
  .list {
    padding-top: 2px;
    overflow: hidden;
  }
}