.home-head {
  width: 100%;
  height: 78px;
  background: #1e232f;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .logo {
    width: 132px;
    margin-right: 40px;
  }

  .tools-list {
    flex: 1;
    height: 42px;

    i {
      width: 42px;
      height: 42px;
      line-height: 42px;
      display: inline-block;
      position: relative;
      text-align: center;
      border-radius: 5px;
      color: #c6c6c6;
      font-size: 18px;
      margin-right: 4px;
      cursor: pointer;

      &.scale-icon {
        font-size: 22px;
      }

      &::after {
        content: "";
        position: absolute;
        right: -2px;
        top: 50%;
        width: 2px;
        height: 30px;
        margin-top: -15px;
        background: linear-gradient(90deg, #000000, #c6c6c6);
      }

      &.active {
        background-color: #17191b;

        &::after {
          display: none;
        }
      }
    }
  }

  .series-msg {
    // min-width: 100px;
    max-width: 240px;
    height: 60px;

    >div {
      font-size: 14px;
      height: 50%;
      text-align: right;
      line-height: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .patient {
      color: #0ac8f8;
      line-height: 32px;

      span {
        padding-right: 8px;
      }

      .copy {
        font-size: 16px;
        cursor: pointer;
      }
    }

    .series-desc {
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .head-btns {
    width: 400px;
    height: 100%;
    line-height: 36px;
    overflow: hidden;
    text-align: right;
  }

  .head-btn {
    width: 66px;
    height: 48px;
    color: #c6c6c6;
    display: inline-block;
    background-color: #223368;
    border-radius: 4px;
    margin-left: 8px;
    margin-top: 10px;
    padding: 5px 0;
    cursor: pointer;

    i {
      display: block;
      width: 100%;
      height: 20px;
      line-height: 20px;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 12px;
      height: 18px;
      line-height: 18px;
    }
  }
}