
.push-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1c2541;
}
.select-list {
  background-color: #1c2541;
  li {
    width: 60px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    &:hover,&.active{
      background-color: #3b7cff;
    }
  }
}




.push-images-content {
  width: calc(100% - 401px);
  height: 100%;
  overflow: hidden;
  float: left;
  // padding: 10px;
  
}
.all-push-images{
  width: 100%;
  height: calc(100% - 78px);
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  .push-dcm-render{
    width: 25%;
    height: 200px;
    border: 1px solid #223368;
    float: left;
    position: relative;
    margin-bottom: 5px;
    &:hover{
      border-color: #3b7cff;
    }
    .dcm-render{
      width: 100%;
      height: 100%;
      canvas{
        width: 100%;
        height: 100%;
      }
    }
    .msg{
      width: 100%;
      height: 16px;
      font-size: 12px;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
    }
    .del-item{
      position: absolute;
      right: 5px;
      bottom: 5px;
      z-index: 100;
      cursor: pointer;
    }
  }
}

.push-setting {
  width: 401px;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #2a5298;
  background-color: #050d14;
  .title {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
  }
  .server-table {
    max-height: 155px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .server-list {
    height: 31px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    padding: 0 5px;
    background-color: #1e2642;
    &.list {
      &:hover {
        background-color: #1e2642;
      }
    }
    > div {
      height: 18px;
      line-height: 18px;
      color: #fff;
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .aet,
    .check {
      border-right: none;
    }
    .check {
      width: 30px;
    }
    .index {
      width: 50px;
    }
    .name {
      width: 100px;
    }
    .aet {
      flex: 1;
    }
  }
  .images-container {
    border-bottom: 1px solid #3b7cff;
  }
}
.push-foot {
  height: 61px;
  padding: 15px 0;
  border-top: 1px solid #666666;
  overflow: hidden;
  background-color: #1c2541;
  .btns {
    width: 40%;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #2a5298;
    line-height: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5%;
    float: left;
    font-size: 12px;
    &:hover {
      box-shadow: 0 0 2px #ccc;
    }
    &.push-btn{
      background-color: #f4721b;
    }
  }
}
.fold-icon {
  cursor: pointer;
  margin-right: 10px;
}

.setting-head {
  width: 100%;
  height: 38px;
  background: #111628;
  // box-shadow: 3px 3px 8px 0px #000000;
  border-bottom: #3b7cff;
  margin-bottom: 1px;
  .title {
    flex: 1;
  }
}
.setting-title-item {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1c2541;
  .title {
    color: #fff;
    font-size: 14px;
  }
}