.el-select-dropdown {
  &.common-options {
    background-color: #1c2541;
    border: 1px solid #1c2541;

    .el-select-dropdown__item {
      color: #fff;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      border-bottom: 1px solid #666666;

      &:last-child {
        border-bottom: none;
      }

      .el-checkbox {
        color: #ddd;
      }

      &.selected {
        color: #f4721b;
        background-color: #223368;

        &::after {
          display: none !important;
        }

        label {
          color: #f4721b;
          background-color: #223368;
        }

        .el-checkbox__label {
          color: #f4721b;
          background-color: #223368;
        }
      }

      &:hover,
      &.hover {
        background-color: #223368 !important;

        label {
          background-color: #223368;
        }
      }
    }
  }
}



.artery-list {
  .el-select {
    .el-input__wrapper {
      background: transparent;
      border: 0;
      box-shadow: none !important;
    }

    .el-input.is-focus .el-input__wrapper {
      box-shadow: none !important;
    }

    .el-input .el-input__wrapper.is-focus {
      box-shadow: none !important;
    }
  }
}

.pick-content {
  &.select {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
}

.pick-content-print {
  &.select {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: row-reverse;

    .el-select {
      width: 120px;

      .el-input__wrapper {
        background: transparent !important;
      }

      .el-input__inner {
        height: 20px;
        line-height: 20px;
        padding-left: 8px;
        padding-right: 0;
        background-color: #1c2541;
        border-radius: 0;
        // border: 1px solid #666666;
        color: #fff;
        font-size: 12px;
      }

      .el-input__icon {
        line-height: 20px;
        font-size: 12px;
        width: 20px;
      }

      .el-tag.el-tag--info {
        background-color: #3b7cff;
        height: 18px;

        .el-select__tags-text {
          font-size: 12px;
        }

        &.is-hit {
          border: none;
          color: #fff;
        }

        .el-tag__close {
          margin-left: 4px;
          color: #fff;
        }
      }


    }
  }
}

.el-button {
  &.common-btn {
    padding: 0 20px;
    height: 32px;
    line-height: 30px;
  }
}

.el-button--primary {
  &.common-btn {
    background-color: #2a5298;
    border-color: #2a5298;

    &.report-copy {
      background-color: #3b7cff;
      border-color: #3b7cff;
    }
  }
}

.head-check {

  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #3b7cff;
    border-color: #3b7cff;
  }

  .el-checkbox__inner {
    border: 1px solid #666666;

    &:hover {
      border-color: #3b7cff;
    }
  }

  &.push-check.el-checkbox {
    height: 18px;
  }
}


.el-table {
  &.common-table {
    background-color: #1c2541;
    position: relative;

    &.home-table.el-table--scrollable-y {
      .el-table__body-wrapper {
        scrollbar-width: none;
        /* firefox */
        -ms-overflow-style: none;

        /* IE 10+ */
        &::-webkit-scrollbar {
          display: none;
          /* Chrome Safari */
        }
      }
    }

    &::before {
      display: none;
    }

    tr,
    th {
      background-color: #1c2541;
      color: #fff;
    }

    td {
      border-color: #c6c6c6;
    }

    &.el-table--enable-row-hover {
      .el-table__body tr:hover>td {
        background-color: #223368;
      }
    }

    .el-table__expand-icon {
      color: #fff;
    }
  }
}

.el-tabs {
  &.common-tabs {
    .el-tabs__nav-wrap::after {
      height: 1px;
      background-color: #d1d1d1;
    }

    .el-tabs__active-bar {
      background-color: #3b7cff;
    }

    .el-tabs__item {
      color: #7a7a7a;

      &.is-active,
      &:hover {
        color: #3b7cff;
      }
    }

    .el-tabs__header {
      margin: 0;
    }

    .el-tabs__content {
      display: none;
    }
  }

  &.print-tabs {
    .el-tabs__item {
      color: #fff;
      font-size: 12px;

      &.is-active,
      &:hover {
        color: #3b7cff;
      }
    }

    .el-tabs__active-bar {
      background-color: #3b7cff;
      height: 1px;
    }

    .el-tabs__header {
      margin: 0;
      background-color: #1c2541;
      border-bottom: 1px solid #050d14;
      padding: 0 10px;
    }

    .el-tabs__nav-wrap::after {
      display: none;
    }
  }
}

.report-table {
  &.el-table {
    thead {
      &.is-group th {
        background-color: #fff;
      }
    }

    th {
      .cell {
        text-align: center;
        font-weight: bold;
        color: #333;
        font-size: 12px;
        padding: 0 5px;
      }
    }

    td {
      .cell {
        text-align: center;
      }
    }
  }
}

.print-page {
  float: right;

  &.el-pagination {
    &.is-background {

      .btn-next,
      .btn-prev {
        background-color: #233f98;
        color: #fff;

        &:disabled {
          color: #7a7a7a;
        }

        &:hover:not([disabled]) {
          color: #fff;
        }
      }

      .el-pager {
        li {
          background-color: #223368;
          color: #fff;

          &:not(.disabled) {
            &.active {
              background-color: #3b7cff;
            }

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.range-input {
  .el-input {
    width: 40px;
    margin: 0 5px;

    .el-input__inner {
      padding: 0 5px;
      color: #fff;
    }
  }
}

.range-start-end {
  .el-radio__label {
    display: none;
  }
}

.print-range {
  .el-radio__input.is-checked+.el-radio__label {
    color: #3b7cff;
  }

  .el-radio__input.is-checked .el-radio__inner {
    border-color: #3b7cff;
    background: #3b7cff;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #3b7cff;
}

.el-button {
  &.printsimple-btn {
    height: 30px;
    background-color: transparent;
    border: 1px solid #f4721b;
    color: #f4721b;

    &.is-disabled {
      border-color: #f4721b;
      background-color: transparent;

      &:hover {
        border-color: #f4721b;
        background-color: transparent;
      }
    }
  }
}

.artery-edit-select {
  &.el-select {
    .el-input__inner {
      background-color: transparent;
      color: #fff;
      border: none;
      text-align: center;
    }
  }
}

.el-form {
  &.common-form-inline {
    .el-form-item--default {
      margin-bottom: 0;
      margin-top: 4px;
    }
  }
}

.ori-print-dialog {
  background-color: #1c2541;

  .el-dialog__title {
    color: #fff;
  }
}

.el-input-number {
  &.is-without-controls {
    .el-input {
      line-height: 21px !important;

      .el-input__inner {
        padding-left: 5px;
        text-align: left;
      }
    }
  }

  &.common-numberinput {
    &.is-disabled {

      .el-input-number__decrease,
      .el-input-number__increase {
        background-color: #233f98;
        border-color: #233f98;
        color: #c6c6c6;
      }
    }

    .el-input-number__decrease,
    .el-input-number__increase {
      background-color: #233f98;
      border-color: #233f98;
      color: #fff;
    }


    .el-input__inner {
      border-color: #233f98 !important;
      border-radius: 6px;
    }
  }
}

.el-overlay {
  // background-color: transparent;
}

.el-drawer {
  background-color: #1e232f;

  .el-collapse {
    border: 0;

    .el-collapse-item__header {
      background-color: #1e232f;
      color: #fff;
      border-bottom: 1px solid #20335d;

      &.is-active {
        border-bottom: 1px solid transparent;
      }
    }

    .el-collapse-item__wrap {
      background-color: #1e232f;
      border-bottom: 1px solid #20335d;
    }
  }
}

.el-drawer__body {
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;

  /* IE 10+ */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
  }
}